.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100vw;
    height: 100vw;
    max-width: 1920px;
    max-height: 1920px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(29,114,193,0.0760679271708683) 0%, rgba(246,251,255,0.7903536414565826) 53%, rgba(29,114,193,0.12648809523809523) 90%);
    z-index: -1;
  }
}

// -----header-----
.header {
  margin-bottom: 10px;
  position: relative;
  z-index: 12;

  &-menu {
    background-color: #fff;
  }

  &-wrapper {    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-contacts {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 195px / 2);
    padding-left: 54px;
    flex-wrap: wrap;
    justify-content: flex-end;    
    padding-top: 12px;

    @media (max-width: 1500px) {
      width: calc(50% - 180px / 2);
      padding-left: 50px;
    }

    @media (max-width: 1366px) {
      width: calc(50% - 165px / 2);
      padding-left: 34px;
    }

    @media (max-width: 1280px) {
      width: calc(50% - 145px / 2);
      padding-left: 28px;
    }

    @media (max-width: 1140px) {
      width: calc(50% - 120px / 2);
      padding-left: 28px;
    }

    @media (max-width: 960px) {
      padding-top: 0;
    }  

    &-item {
      display: flex;
      gap: 6px;

      &__desktop {
        @media (max-width: 960px) {
          display: none;
        }

        &:not(:nth-child(2)) {
          margin-right: 12px;
  
          @media (max-width: 1280px) {
            margin-right: 8px;
          }
  
          @media (max-width: 1140px) {
            margin-right: 6px;
          }
        }
      }

      &__mobile {
        display: none;
        @media (max-width: 960px) {
          display: block;
          position: relative;
          // z-index: 12;
        }
      }

      // &:not(:last-child) {
      //   margin-right: 12px;

      //   @media (max-width: 1280px) {
      //     margin-right: 8px;
      //   }

      //   @media (max-width: 1140px) {
      //     margin-right: 6px;
      //   }
      // }
    }

    &-text {  
      white-space: nowrap;

      @media (max-width: 1500px) {
        @include fz(14);
      }

      @media (max-width: 1366px) {
        @include fz(13);
      }

      @media (max-width: 1280px) {
        @include fz(11)
      }

      @media (max-width: 1140px) {
        @include fz(10)
      }
      
      &:first-child {
        padding-top: 6px;

        @media (max-width: 1366px) {
          padding-top: 4px;
        }
      }

      a {
        transition: color 0.3s;
        &:hover {
          color: $hover;
        }
      }
    }
  }

  // burger
  .burger-btn {     
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid $input_border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;    
    background-color: transparent;
    cursor: pointer;
    display: none;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 22px;
    }
    @media (max-width: 960px) {
      position: relative;
      display: flex;
      z-index: 1;
      order: 1;
    }
    @media (max-width: 960px) {
      width: 46px;
      height: 46px;
      // z-index: 12;
    }
  
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%, -50%);
      height: 2px;
      width: 18px;
      border-radius: 2px;
      background-color: #3DA4CE;      

      &:before,
      &:after {
        content: "";
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 2px;
        background-color: #3DA4CE;
        position: absolute;
        left: 0;
        transition: transform 0.2s ease-in-out;
      }   
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }    
      &.active {
        transform: rotate(45deg);
        background-color: #C73752;       
        width: 22px;
        &:before {          
          top: 0;
          transform: rotate(-90deg);
          background-color: #C73752;         
          width: 22px;
        }
        &:after {
          top: 0;
          transform: rotate(90deg);
          background-color: #C73752;         
          width: 22px;
        }
      }
    }
  }

// nav
  &-nav {
    width: calc(50% - 195px / 2);
    padding-right: 54px;

    @media (max-width: 1500px) {
      width: calc(50% - 180px / 2);
      padding-right: 50px;
    }

    @media (max-width: 1366px) {
      width: calc(50% - 165px / 2);
      padding-right: 34px;
    }

    @media (max-width: 1280px) {
      width: calc(50% - 145px / 2);
      padding-right: 28px;
    }

    @media (max-width: 1140px) {
      width: calc(50% - 120px / 2);
      padding-right: 28px;
    }    
  }

  &-logo {
    display: block;
    width: 195px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (max-width: 1500px) {
      width: 180px;
    }

    @media (max-width: 1366px) {
      width: 165px;
      margin-top: 18px;
      margin-bottom: 18px;
    }

    @media (max-width: 1280px) {
      width: 145px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    @media (max-width: 1140px) {
      width: 120px;      
    }

    @media (max-width: 960px) {
      width: 224px;
      position: relative;
      z-index: 12;
      margin-top: 18px;
      margin-bottom: 18px;
    }
    
    // svg {
    //   width: 195px;
    //   height: auto;
    // }
  }

  &-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $icon_border;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
    }    
  }
}

.header-nav {
  & > ul {
    display: flex;   
    justify-content: space-between;

    @media (max-width: 960px) {     
      display: none;         
    }

    & > li {
      position: relative;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 12px;

        @media (max-width: 1366px) {
          margin-right: 8px;
        }
      }

      &:hover {
        & > a {
          color: $primary;
        }

        & > .icon {         
          transform: rotate(0deg);       
          stroke: $primary;
        }
      }

      .icon {
        width: 18px;
        height: 18px;
        transform: rotate(-180deg);    
        stroke: $font;
        transition: transform 0.3s, stroke 0.3s;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 1366px) {
          width: 16px;
          height: 16px;
        }

        @media (max-width: 1280px) {
          width: 13px;
          height: 13px;
        }

        @media (max-width: 1140px) {
          width: 10px;
          height: 10px;
        }
      }

      & > a {
        color: $font;
        @include fz(16);                 
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: color 0.3s;
        display: inline-block;
        // vertical-align: middle;

        @media (max-width: 1500px) {
          @include fz(14);
        }

        @media (max-width: 1366px) {
          @include fz(13);
        }

        @media (max-width: 1280px) {
          @include fz(11)
        }

        @media (max-width: 1140px) {
          @include fz(10)
        }
      }
      
      & > ul {
        position: absolute;
        width: max-content;
        left: -24px;
        bottom: 0;
        transform: translateY(100%);
        display: none;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0 0 51px 0 rgba(26, 59, 159, 0.07);        
        padding: 24px;
        z-index: 2;
        
        & > li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          a {
            font-weight: 400;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      &:hover {
        & > ul {
          display: block;
        }
      }
    }
  }
}

// sliders
.slider-container {
  position: relative;  

  .swiper-pagination {
    bottom: 12px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #A4B5C5;
    margin: 0 6px !important;

    &-active {
      background: $title;
    }
  }
}

.slider-wrapper {
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;  
}

.slider-card {
  margin-bottom: 70px;
}

.slider-next {
  &__edge {
    right: 0;
    transform: translate(50%, 50%);
    bottom: calc(50% + 35px);
  }  
}

.slider-prew {
  &__edge {
    left: 0;
    transform: translate(-50%, 50%);
    bottom: calc(50% + 35px);
  }
  
}

.slider-prew, .slider-next {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $primary;  
  z-index: 1;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// -----main-----
.main {
  flex-grow: 1;

  &-slider {
    // padding-left: 60px;
    // padding-right: 60px;
    // margin-left: -60px;
    // margin-right: -60px;
    &-slide {
      border-radius: p2r(16);

      &:not(.swiper-slide-active) {
        filter: blur(1px);
      }
    }

    &-card {
      img {
        display: block;
        border-radius: 16px;    
      }
    }
  }  
}

// section-slider
.section-slider {
  margin-bottom: p2r(100);  

  .swiper-pagination {
    bottom: p2r(50);
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    height: p2r(8);
    width: p2r(11);
    border-radius: p2r(8);
    transition: width 0.3s;

    &-active {
      width: p2r(40);
    }
  } 
}

// section-tours
.section-tours {  
  margin-bottom: p2r(48);
}

.tour {  

  &-card {
    display: block; 
    padding: p2r(10);
    border-radius: p2r(8);
    background: #FFF;
    // box-shadow: 0px 11px 24px 0px rgba(187, 202, 216, 0.10),
    //             0px 43px 43px 0px rgba(187, 202, 216, 0.09),
    //             0px 97px 58px 0px rgba(187, 202, 216, 0.05),
    //             0px 172px 69px 0px rgba(187, 202, 216, 0.01),
    //             0px 269px 75px 0px rgba(187, 202, 216, 0.00);
    // box-shadow: 0px 11px 24px 0px rgba(187, 202, 216, 0.07),
    //             0px 23px 33px 0px rgba(187, 202, 216, 0.09),
    //             0px 38px 48px 0px rgba(187, 202, 216, 0.05),
    //             0px 42px 59px 0px rgba(187, 202, 216, 0.01),
    //             0px 89px 65px 0px rgba(187, 202, 216, 0.00);

    box-shadow: 0px 11px 14px 0px rgba(187, 202, 216, 0.07),
                0px 23px 13px 0px rgba(187, 202, 216, 0.09),
                0px 38px 28px 0px rgba(187, 202, 216, 0.05),
                0px 42px 39px 0px rgba(187, 202, 216, 0.01),
                0px 89px 45px 0px rgba(187, 202, 216, 0.00);
   
    
    &-image {
      border-radius: p2r(4);
      overflow: hidden;
      aspect-ratio: 1.47;
      display: block;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
      }
    }

    &-info {
      padding: p2r(16) p2r(9) p2r(10) p2r(9);      
      height: p2r(182);
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
    }

    &-title {     
      font-weight: 600;
      line-height: 130%;
      margin-bottom: p2r(16);
      -webkit-line-clamp: 3; 
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
      overflow: hidden;
      min-height: 62px;
      transition: color 0.3s;

      &:hover {
        color: $hover;
      }
    }

    &-date {
      color: #A4B5C5;      
      
      .icon {
        width: p2r(24);
        height: p2r(24);
        display: inline;
        vertical-align: middle;
        margin-right: p2r(8);
      }
    }    

    &-price {
      width: max-content;
      background-color: $primary;
      color: #FFF;     
      font-weight: 700;
      padding: p2r(3) p2r(9);
      border-radius: p2r(2);

      span {
        @include fz(12);
      }
    }
  }

  &-date-text {
    vertical-align: middle;
  }
}

// section resume
.section-resume {
  margin-bottom: p2r(122);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: p2r(336);
    height: p2r(336);
    border-radius: 50%;  
    background: #1D72C1;
    filter: blur(p2r(300));
    right: 100px;
    top: 0;
    transform: translateY(-50%);
  }
}

.resume {
  &-info {
    padding-right: p2r(30);    
  }

  &-title {
    margin-bottom: p2r(34);
  }

  &-text {
    line-height: 150%;
  }

  &-more {
    display: inline-block;

    &:hover {
      .resume-more-text {
        color: $hover;       
      }      
    }

    &-text {
      color: $primary;  
      line-height: 150%;
      text-decoration-line: underline;
      margin-right: p2r(12);
      transition: color 0.3s;
    }    

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: p2r(32);
      height: p2r(9);
    }
  }

  &-image {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// section destinations
.section-destinations {
  // padding-top: p2r(104);
  position: relative;
  margin-bottom: p2r(46);

  &__background {
    padding-top: p2r(104);
    margin-bottom: p2r(96);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $bgc;
      width: 100%;
      height: p2r(453);
      content: '';
    }
  }  
}
.destinations {  

  &-card {    
    border-radius: p2r(8);
    background: #FFF;    
    // box-shadow: 0px 11px 24px 0px rgba(187, 202, 216, 0.10), 0px 43px 43px 0px rgba(187, 202, 216, 0.09), 0px 97px 58px 0px rgba(187, 202, 216, 0.05), 0px 172px 69px 0px rgba(187, 202, 216, 0.01), 0px 269px 75px 0px rgba(187, 202, 216, 0.00);
    // box-shadow: 0px 11px 24px 0px rgba(187, 202, 216, 0.07),
    //             0px 23px 33px 0px rgba(187, 202, 216, 0.09),
    //             0px 38px 48px 0px rgba(187, 202, 216, 0.05),
    //             0px 42px 59px 0px rgba(187, 202, 216, 0.01),
    //             0px 89px 65px 0px rgba(187, 202, 216, 0.00);
    box-shadow: 0px 11px 14px 0px rgba(187, 202, 216, 0.07),
                0px 23px 13px 0px rgba(187, 202, 216, 0.09),
                0px 38px 28px 0px rgba(187, 202, 216, 0.05),
                0px 42px 39px 0px rgba(187, 202, 216, 0.01),
                0px 89px 45px 0px rgba(187, 202, 216, 0.00);
                          
    &-image {
      display: block;
      aspect-ratio: 1.6;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: p2r(4);
        border-top-right-radius: p2r(4);
        transition: transform 0.3s;
      }
    }

    &-info {
      padding: p2r(22);
      min-height: p2r(130);
      text-align: center;
    }

    &-title {
      display: inline-block;
      @include ls(0.8);
      font-weight: 600;
      line-height: 130%;      
      text-transform: uppercase;     
      margin-bottom: p2r(12);
      transition: color 0.3s;

      &:hover {
        color: $hover
      }
    }

    &-description {
      @include fz(14);
      color: #A4B5C5;     
    }
  }
}

// destinations page
.destinations {
  margin-bottom: 40px;
  &-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  &-col {
    width: 20%;
    flex: 0 0 20%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
}

// section-feedback
.section-feedback {
  position: relative;
  margin-bottom: p2r(100);

  &::before {
    position: absolute;
    content: '';
    width: p2r(336);
    height: p2r(336);
    border-radius: 50%;  
    background: #1D72C1;
    filter: blur(p2r(300));
    left: 200px;
    bottom: 0;
    transform: translateY(50%);
  }
  
}

.feedback {

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: p2r(-10);
    margin-right: p2r(-10);    
  }

  &-col {
    &-field {
      width: 36.5%;
      flex: 0 0 36.5%;
      padding-left: p2r(10);
      padding-right: p2r(10);
      margin-bottom: p2r(17);
    }
    &-btn {
      width: 27%;
      flex: 0 0 27%;
      padding-left: p2r(10);
      padding-right: p2r(10);
      margin-bottom: p2r(17);
      padding-top: 30px;
    }
  }

  &-label {    
    &-title {
      margin-bottom: p2r(8);
      display: inline-block;
    }
    &-star {
      color: $primary;
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    position: relative;
  }

  &-left {
    width: 25%;
    flex: 0 0 25%;
    border-radius: p2r(16);
    background-color: $form;
    position: relative;    

    &::after {
      content: '';
      height: calc(100% - 2rem);
      width: 2px;
      background-image: linear-gradient(to bottom, #fff 50%, transparent 50%);
      background-repeat: repeat-y;
      background-size: 2px 22px;
      position: absolute;
      top: 18px;
      left: calc(100% - 1px);      
    }
  }

  &-right {
    width: 75%;
    flex: 0 0 75%;
    border-radius: p2r(16);
    background-color: $form;
    padding: p2r(59) p2r(102) p2r(70) p2r(102);
    color: #FFF;
  }

  &-message {
    border-radius: p2r(10);
    background: #FFF;
    padding: p2r(22) p2r(35);
    width: 75%;   
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: p2r(12);
    left: 50%;
    transform: translateX(-50%);

    &-icon {
      position: absolute;
      top: 0;
      left: p2r(16);
      transform: translateY(-50%);
      width: p2r(40);
      height: p2r(40);
      border-radius: 50%;
      background-color: #fff;
      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: p2r(32);
        height: p2r(32);
      }
    }

    &-title {      
      font-family: $philosopher;
      @include fz(20);
      font-style: italic;
      font-weight: 400;
      line-height: 110%;
      margin-bottom: p2r(8);
    }

    &-author {      
      color: $font_light;
      @include fz(12);    
      line-height: 110%; 
    }
  }

  &-photo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);        
    bottom: 0;     
  }

  &-title {
    font-family: $philosopher;
    @include fz(36);
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: p2r(40);
  }

  &-form {
    &-item {
      width: 34.5%;
      display: inline-block;
      margin-right: p2r(20);
      margin-bottom: p2r(16); 
    }

    &-button {
      display: inline-block;
    }
  }

  &-agree {
    @include fz(14);
    line-height: 130%;

    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

// article

.section-article {
  article {
    background-color: #fff;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 11px 24px 0px rgba(187, 202, 216, 0.10), 0px 43px 43px 0px rgba(187, 202, 216, 0.09), 0px 97px 58px 0px rgba(187, 202, 216, 0.05), 0px 172px 69px 0px rgba(187, 202, 216, 0.01), 0px 269px 75px 0px rgba(187, 202, 216, 0.00);
    padding-top: 74px;
    padding-bottom: 74px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 120px;
  }

  a {
    color: $title;

    &:hover {
      text-decoration: underline;
    }
  }

  p, ul, ol {
    line-height: 150%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin-bottom: 32px;
  }

  ul {

    li {
      position: relative;
      padding-left: 46px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        width: 24px;
        height: 6px;
        background-image: url(../images/list-point.svg);
        background-repeat: no-repeat;
      }
    }    
  }

  &-table {
    overflow-x: auto;
    &__full {
      table {
        width: 100%;
      }
    }
    table {
      margin-top: 32px;    
      border-collapse: collapse;
    }    
  }

  tr {    
    &:nth-child(odd) {
      background: #F0F8FF;
    }
  }

  td {
    padding: 13px 19px;
    max-width: 200px;
    
    &:nth-child(2) {
      white-space: nowrap;
    }
    &:nth-child(1), &:nth-child(2) {
      width: 30%;
    }
  }

  .swiper-pagination {
    bottom: p2r(50);
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    height: p2r(8);
    width: p2r(11);
    border-radius: p2r(8);
    transition: width 0.3s;

    &-active {
      width: p2r(40);
    }
  }

  .slider-next {
    right: 60px;    
  }
  
  .slider-prew {
    left: 60px;    
  }
  
  .slider-prew, .slider-next {   
    bottom: 50%;
    transform: translateY(50%);    
  }
}

.article {
  &-slider {
    margin-left: -180px;
    margin-right: -180px;
    margin-top: 54px;
    margin-bottom: 54px;
  }
}

// contacts
.contacts {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 56px;

  &-map-wrapper {
    margin-bottom: 60px;
  }

  &-item {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 7px;
    width: 25%;
    flex: 0 0 25%;
  }

  &-text {    
    &:first-child {
      padding-top: 6px;
    }

    &__prompt {
      color: $font_light;
      font-family: $noto-sans;
      @include fz(14);           
    }

    &-phone {
      transition: color 0.3s;

      &:hover {
        color: $hover
      }
    }

    &-link {
      color: #3DA4CE;
      font-family: $noto-sans;      
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-row {
    display: flex;
  }

  &-feedback {
    color: #fff;
    margin-bottom: 30px;
    // width: 25%;
    // flex: 0 0 25%;
    // background-color: $form;
    
    &-title {
      position: relative;
      border-radius: 8px;
      padding: 26px 30px;
      background-color: $form;    
      @include fz(28);
      font-family: $philosopher;    
      font-weight: 700;     
      text-transform: uppercase;

      &::after {
        content: '';        
        height: 2px;
        width: calc(100% - 16px);
        background-image: linear-gradient(to right, #fff 60%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 25px 2px;
        position: absolute;
        bottom: -1px;
        left: 8px;          
      }
    }

    &-form {
      border-radius: 8px;
      padding: 37px 30px;
      background-color: $form;      
    }

    &-item {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 18px;
      }

      .ui-input {
        @include fz(14);
      }

      .ui-textarea {
        @include fz(14);
      }
    }
    
    &-button {
      width: 100%;
      margin-bottom: 21px;
    }

    &-agree {
      @include fz(12);    
      line-height: 130%;
      text-align: center;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &-map {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
}

// popup
.popup-success {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 51px 0px rgba(26, 59, 159, 0.07);
  // backdrop-filter: blur(8px);
  max-width: 492px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  text-align: center;
}

.success {
  &-title {
    color: $title;    
    font-family: $philosopher;
    @include fz(28);    
    font-weight: 700;    
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &-text {
    position: relative;
    margin-bottom: 39px;

    &:after {
      position: absolute;
      content: '';
      width: 90px;
      height: 1px;
      background: #D8E5F1;
      left: 50%;
      top: 44px;
      transform: translateX(-50%);
    }
  }

  &-message {
    color: $font_light;  
    line-height: 150%;
  }  
}

button.mfp-close {
  transform: translate(50%, -50%);
  border-radius: 50%;
  background: $primary;
  opacity: 1;
  color: #fff !important;
  @include fz(0);
  transition: background 0.3s;

  &:hover {
    background: $hover;
  }

  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-image: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
}

// -----footer-----
.footer {
  background-color: $bgc;
  padding-top: p2r(40);
  padding-bottom: p2r(84);
  position: relative;
  z-index: 1;

  &-nav {
    & > ul {
      display: flex;   
      justify-content: space-between;
  
      & > li {
        position: relative;
        white-space: nowrap;
  
        &:not(:last-child) {
          margin-right: p2r(12);
        }
  
        &:hover {
          & > a {
            color: $primary;
          }
  
          & > .icon {         
            transform: rotate(0deg);       
            stroke: $primary;
          }
        }
  
        .icon {
          width: p2r(18);
          height: p2r(18);
          transform: rotate(-180deg);    
          stroke: $font;
          transition: transform 0.3s, stroke 0.3s;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
        }
  
        & > a {
          color: $font;
          font-size: p2r(16);               
          font-weight: 600;
          padding-top: p2r(34);
          padding-bottom: p2r(12);
          transition: color 0.3s;
          display: inline-block;
          // vertical-align: middle;
        }
        
        & > ul {
          position: absolute;
          width: max-content;
          left: p2r(-24);
          bottom: 0;
          transform: translateY(100%);
          display: none;
          border-radius: p2r(12);
          background: #fff;
          box-shadow: 0 0 p2r(51) 0 rgba(26, 59, 159, 0.07);        
          padding: p2r(24);
          z-index: 2;
          
          & > li {
            &:not(:last-child) {
              margin-bottom: p2r(20);
            }
            a {
              font-weight: 400;
  
              &:hover {
                color: $primary;
              }
            }
          }
        }
  
        &:hover {
          & > ul {
            display: block;
          }
        }
      }
    }
  }

  &-top {
    height: p2r(170);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: p2r(4);
  }

  &-nav {
    li {
      a {
        color: $font;
        font-size: p2r(16);               
        font-weight: 600;
        
        &:hover {
          color: $primary;
        }
      }
    }
  }

  
  &-contacts {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 195px / 2);
    padding-left: p2r(54);
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: p2r(34);

    &-item {
      display: flex;
      gap: 6px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    &-text {  
      white-space: nowrap;    
      &:first-child {
        padding-top: p2r(6);
      }

      a {
        transition: color 0.3s;
        &:hover {
          color: $hover;
        }
      }
    }
  }

  &-nav {
    width: calc(50% - 195px / 2);
    padding-right: p2r(54);
  }

  &-logo {
    display: block;
    width: p2r(195);
    margin-top: p2r(24);
    margin-bottom: p2r(24);
    
    svg {
      width: p2r(195);
      height: auto;
    }
  }

  &-icon {
    position: relative;
    width: p2r(36);
    height: p2r(36);
    border-radius: 50%;
    border: p2r(1) solid $icon_border;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: p2r(18);
      height: p2r(18);
    }    
  }

  &-middle {
    position: relative;   
    // height: p2r(1);
    // background-color: $icon_border;
    margin-bottom: p2r(32);

    &::before {
      position: absolute;
      top: 50%;     
      content: '';
      height: 1px;
      background-color: $icon_border;
      width: 100%;
      z-index: -1;
    }
  }

  &-socials {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: max-content;
    padding-left: p2r(57);
    padding-right: p2r(57);
    background-color: $bgc;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;    

    &-link {
      position: relative;
      width: p2r(32);
      height: p2r(32);
      border-radius: 50%;
      background-color: rgba(199, 55, 82, 0.1);
      display: inline-block;
      vertical-align: middle;
      &:not(:last-child) {
        margin-right: p2r(16);
      }
    }

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: p2r(20);
      height: p2r(20);
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }      
    } 
  }

  &-registration {
    color: $font_light;
    text-align: center;
    @include fz(12);
    max-width: p2r(580);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: p2r(10);
    line-height: 120%;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-copy {
    width: 50%;
    padding-right: p2r(20);
  }

  &-developer {
    width: 50%;
    padding-left: p2r(20);
    
    a {      
      margin-left: auto;
      width: max-content;
      display: block;
    }

    &-icon {
      display: inline-block;
      vertical-align: bottom;
      width: p2r(25);
      height: p2r(37);
      margin-right: p2r(3);
      margin-left: p2r(1);
    }
   
    
  }
}

.ymaps-layers-pane {
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
}


// mobile-menu
.mobile {
  &-menu {
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 11;
    background-color: #fff;
    transition: transform 0.5s;
    overflow-y: auto;
    padding-top: 130px;

    @media (max-width: 768px) {
      padding-top: 168px;
    }
  
    &.active {
      transform: translateY(0%);
    }
  }

  &-nav {    
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid $icon_border;
    padding-bottom: 32px;

    @media (max-width: 599px) {
      padding-bottom: 24px;
    }
    
    li {     
      width: max-content;     
      margin-left: auto;
      margin-right: auto;
      padding-top: 6px;
      padding-bottom: 6px;
      
      &:not(:last-child) {
        margin-bottom: 14px;

        @media (max-width: 599px) {
          margin-bottom: 8px;
        }
      }

      .icon {
        width: 18px;
        height: 18px;
        transform: rotate(-180deg);
        stroke: #1D1D1D;
        display: inline-block;
        vertical-align: middle;
        transition: transform 0.3s;
      }

      & > ul {       
        display: none;      
        overflow: hidden;
        margin-top: 20px;        

        li {
          @include fz(14);
          font-weight: 500;        
          margin-bottom: 0 !important;
        }
      }

      &.opened {
        .icon {
          transform: rotate(0deg);
        }
        & > ul {         
          display: block;
        }
      }
    }
  }

  &-contacts {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $icon_border;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      // width: max-content;    
      gap: 8px;
    }

    @media (max-width: 599px) {      
     align-items: flex-start;
    }

    &-item {
      display: flex;
      gap: 11px;     
    }

    &-text {     
      @include fz(16);
      @include ls(0.1);

      @media (max-width: 599px) {
        @include fz(14);
      }

      &:first-child {
        padding-top: 5px;
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  &-link {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    background-color: rgba(199, 55, 82, 0.1);   
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}
