// Colors & BG's ---
$bgc: #F4FAFE;
$font: #1D1D1D;
$font_light: #879DB1;
$title: #3CA3CE;
$icon_border: #D8E5F1;
$primary: #C73752;
$hover: #DA3C5A;
$error: #CB0000;
$form: #7BB5EC;


$input_border: #CFDAE7;
$input_hover: darken($input_border, 15%);

$jq_border: #a3a3a3;
$jq_hover: darken($jq_border,15%);


// Layouts
$base: 1420;
$gutter: 30;
$col_gutter: 10px;
$block_margin: 0 0 25px;

$inner: $base + $gutter * 2 + px;


// Grid
$breakpoints: ("xl":1440,"lg":1260,"md":1024,"sm":769,"xs":599,"us":320);


// Typography ---
$fontsize: 16;
$base-font-size: 16;
$weight: 400;
$basefont: 'Inter';
$noto-sans: 'Noto Sans';
$philosopher: 'Philosopher';
$lh: 1.42;
$th: 1.42;
$paragraph_margin: 0px 0px 24px;

// headings
$headings_font_family: $basefont;
$headings_margin: 40px 0px 40px;
$headings_font_weight: 500;
// $headings_color: $titles;
$headings_text_transform: none;
$h1: 64;
$h2: 48;
$h3: 28;
$h4: 22;
$h5: 18;
$h6: $fontsize;

$block_heading_font_size: 24;
$block_heading_font_weight: 700;




@mixin fz($f_size) {
	font-size: $f_size + px;
	font-size: $f_size/16 + rem;
}

@mixin ls($lsp) {
	letter-spacing: $lsp/1000 + em;
}


@function p2r($size) {
	@if ($size == 0) {
	  @return 0;
	}
  
	@return $size / $base-font-size + 0rem;
}